# Задания для самостоятельной работы по теме 7

#### Задание 1

Импортируйте библиотеку pandas и откройте с её помощью файл data_1_7.csv. Изучите названия признаков.

In [593]:
import pandas as pd
import datetime
df = pd.read_csv('data_1_7.csv.')
df

,Unnamed: 0,Film,Oscar Year,Film Studio/Producer(s),Award,Year of Release,Movie Time,Movie Genre,IMDB Rating,IMDB Votes,...,Tomatometer Status,Tomatometer Rating,Tomatometer Count,Audience Status,Audience Rating,Audience Count,Tomatometer Top Critics Count,Tomatometer Fresh Critics Count,Tomatometer Rotten Critics Count,Film ID
0,0,Wings,1927/28,Famous Players-Lasky,Winner,1927,144,"Drama,Romance,War",7.5,"12,221",...,Certified-Fresh,93.0,46.0,Upright,78.0,3530.0,9.0,43.0,3.0,2becf7d5-a3de-46ab-ae45-abdd6b588067
1,1,7th Heaven,1927/28,Fox,Nominee,1927,110,"Drama,Romance",7.7,"3,439",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19ed3295-a878-4fd2-8e60-5cd7b5f93dad
2,2,The Racket,1927/28,The Caddo Company,Nominee,1928,84,"Crime,Drama,Film-Noir",6.7,"1,257",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3111c2d8-0908-4093-8ff3-99c89f2f2f08
3,3,The Broadway Melody,1928/29,Metro-Goldwyn-Mayer,Winner,1929,100,"Drama,Musical,Romance",5.7,"6,890",...,Rotten,33.0,24.0,Spilled,21.0,1813.0,7.0,8.0,16.0,de063f3f-2d35-4e1c-8636-6eb4c16bd236
4,4,Alibi,1928/29,Feature Productions,Nominee,1929,91,"Action,Crime,Romance",5.8,765,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,609887c2-877c-43a4-b88c-e40e31096a98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,566,Mank,2020,"Ceán Chaffin, Eric Roth, and Douglas Urbanski",Nominee,2020,131,"Biography,Comedy,Drama",6.9,"65,380",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47d4ae4f-e782-4cd9-9508-4a07302b1c1a
567,567,Minari,2020,Christina Oh,Nominee,2020,115,Drama,7.5,"57,976",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7262b3a8-214d-4205-985c-70e0860f3236
568,568,Promising Young Woman,2020,"Ben Browning, Ashley Fox, Emerald Fennell, and...",Nominee,2020,113,"Crime,Drama,Thriller",7.5,"122,269",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,d64c669b-7a73-496a-bddb-19cb09264371
569,569,Sound of Metal,2020,Bert Hamelinck and Sacha Ben Harroche,Nominee,2019,120,"Drama,Music",7.8,"102,807",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,647357e9-c067-46bd-aaeb-24d4344ec124
570,570,The Trial of the Chicago 7,2020,Marc Platt and Stuart M. Besser,Nominee,2020,129,"Drama,History,Thriller",7.8,"156,283",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cecbca48-f19c-43f4-81d2-da130facda95

#### Задание 2

Выведите на экран количество строк и столбцов в полученной таблице

In [594]:
print('Количество строк: ', df.shape[0])
print('Количество столбцов: ', df.shape[1])

Количество строк:  571
Количество столбцов:  30

####  Задание 3

Изучите типы данных, используемые в таблицы и узнайте, где данные отсутствуют

In [595]:
df.info()
df.isna()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        571 non-null    int64
 1   Film                              571 non-null    object
 2   Oscar Year                        571 non-null    object
 3   Film Studio/Producer(s)           571 non-null    object
 4   Award                             571 non-null    object
 5   Year of Release                   571 non-null    int64
 6   Movie Time                        571 non-null    int64
 7   Movie Genre                       571 non-null    object
 8   IMDB Rating                       571 non-null    float64
 9   IMDB Votes                        571 non-null    object
 10  Movie Info                        438 non-null    object
 11  Genres                            439 non-null    object
 12  Critic Consensus                  339 non-null    object
 13  Content Rating                    439 non-null    object
 14  Directors                         437 non-null    object
 15  Authors                           437 non-null    object
 16  Actors                            439 non-null    object
 17  Original Release Date             439 non-null    object
 18  Streaming Release Date            438 non-null    object
 19  Production Company                439 non-null    object
 20  Tomatometer Status                439 non-null    object
 21  Tomatometer Rating                439 non-null    float64
 22  Tomatometer Count                 439 non-null    float64
 23  Audience Status                   436 non-null    object
 24  Audience Rating                   439 non-null    float64
 25  Audience Count                    439 non-null    float64
 26  Tomatometer Top Critics Count     439 non-null    float64
 27  Tomatometer Fresh Critics Count   439 non-null    float64
 28  Tomatometer Rotten Critics Count  439 non-null    float64
 29  Film ID                           571 non-null    object
dtypes: float64(8), int64(3), object(19)
memory usage: 134.0+ KB

,Unnamed: 0,Film,Oscar Year,Film Studio/Producer(s),Award,Year of Release,Movie Time,Movie Genre,IMDB Rating,IMDB Votes,...,Tomatometer Status,Tomatometer Rating,Tomatometer Count,Audience Status,Audience Rating,Audience Count,Tomatometer Top Critics Count,Tomatometer Fresh Critics Count,Tomatometer Rotten Critics Count,Film ID
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
567,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
568,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
569,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
570,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False

#### Задание 4

Выведите первые 10 строк таблицы

In [596]:
df[0:10]

,Unnamed: 0,Film,Oscar Year,Film Studio/Producer(s),Award,Year of Release,Movie Time,Movie Genre,IMDB Rating,IMDB Votes,...,Tomatometer Status,Tomatometer Rating,Tomatometer Count,Audience Status,Audience Rating,Audience Count,Tomatometer Top Critics Count,Tomatometer Fresh Critics Count,Tomatometer Rotten Critics Count,Film ID
0,0,Wings,1927/28,Famous Players-Lasky,Winner,1927,144,"Drama,Romance,War",7.5,"12,221",...,Certified-Fresh,93.0,46.0,Upright,78.0,3530.0,9.0,43.0,3.0,2becf7d5-a3de-46ab-ae45-abdd6b588067
1,1,7th Heaven,1927/28,Fox,Nominee,1927,110,"Drama,Romance",7.7,"3,439",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19ed3295-a878-4fd2-8e60-5cd7b5f93dad
2,2,The Racket,1927/28,The Caddo Company,Nominee,1928,84,"Crime,Drama,Film-Noir",6.7,"1,257",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3111c2d8-0908-4093-8ff3-99c89f2f2f08
3,3,The Broadway Melody,1928/29,Metro-Goldwyn-Mayer,Winner,1929,100,"Drama,Musical,Romance",5.7,"6,890",...,Rotten,33.0,24.0,Spilled,21.0,1813.0,7.0,8.0,16.0,de063f3f-2d35-4e1c-8636-6eb4c16bd236
4,4,Alibi,1928/29,Feature Productions,Nominee,1929,91,"Action,Crime,Romance",5.8,765,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,609887c2-877c-43a4-b88c-e40e31096a98
5,5,Hollywood Revue,1928/29,Metro-Goldwyn-Mayer,Nominee,1929,130,"Comedy,Music",5.7,"2,004",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,689f22d5-a700-4ce1-b9be-65652f32c186
6,6,In Old Arizona,1928/29,Fox,Nominee,1928,95,Western,5.6,"1,019",...,Rotten,56.0,9.0,Spilled,38.0,356.0,2.0,5.0,4.0,a0644f19-a136-44c2-ab5d-50978ef19608
7,7,The Patriot,1928/29,Paramount Famous Lasky,Nominee,1928,113,"Drama,History,Thriller",7.4,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5d4ef7bd-2f81-47f3-9305-2c8fe140d4e4
8,8,All Quiet on the Western Front,1929/30,Universal,Winner,1930,152,"Drama,War",8.1,"59,214",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,281742f9-3b4e-480d-b704-c8c15de6b721
9,9,The Big House,1929/30,Cosmopolitan,Nominee,1930,87,"Crime,Drama,Thriller",7.1,"2,079",...,Fresh,75.0,8.0,Upright,69.0,323.0,0.0,6.0,2.0,297aa285-29d7-4a22-b833-c5632ab3e562

#### Задание 5

Создайте новый столбец "Name Award" в котором будут находиться название и статус награды фильма разделенные пробелом.

ПРИМЕР 

Для фильма с названием "FilmName" и статусом "Winner" должно выйти "FilmName Winner"

In [597]:
df['Name Award'] = df.loc[:, ['Film Studio/Producer(s)', 'Award']].apply(list, axis = 1) # соединил столбики в новый
df['Name Award'] = df['Name Award'].astype('string') # изменил тип object на string
df['Name Award'] = df['Name Award'].str.replace('[',  '') # убрал лишний знак '['
df['Name Award'] = df['Name Award'].str.replace(']',  '') # убрал лишний знак ']'
df['Name Award'] = df['Name Award'].str.replace(',',  '') # убрал разделить ','

C:\Users\Анатолий\AppData\Local\Temp\ipykernel_3960\326185539.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Name Award'] = df['Name Award'].str.replace('[',  '') # убрал лишний знак '['
C:\Users\Анатолий\AppData\Local\Temp\ipykernel_3960\326185539.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Name Award'] = df['Name Award'].str.replace(']',  '') # убрал лишний знак ']'

#### Задание 6

Узнайте, сколько различных значений содержится столбце "Award"

In [598]:
df['Name Award'].nunique()

404

#### Задание 7
Выясните, сколько фильмов было выпущено в 1992 году?

In [599]:
mv1992 = df.loc[df['Year of Release'] == 1992]
mv1992.shape[0]

5

#### Задание 8

Среди этих фильмов оставьте те, у которых рейтинг не меньше 8

In [600]:
mv1992 = mv1992.loc[mv1992['IMDB Rating'] >= 8]
mv1992

,Unnamed: 0,Film,Oscar Year,Film Studio/Producer(s),Award,Year of Release,Movie Time,Movie Genre,IMDB Rating,IMDB Votes,...,Tomatometer Rating,Tomatometer Count,Audience Status,Audience Rating,Audience Count,Tomatometer Top Critics Count,Tomatometer Fresh Critics Count,Tomatometer Rotten Critics Count,Film ID,Name Award
380,380,Unforgiven,1992,Clint Eastwood,Winner,1992,130,"Drama,Western",8.2,"390,280",...,96.0,106.0,Upright,93.0,122729.0,28.0,102.0,4.0,2ec120ec-af89-47c0-a5de-ee0f0789cf1b,'Clint Eastwood' 'Winner'
384,384,Scent of a Woman,1992,Martin Brest,Nominee,1992,156,Drama,8.0,"277,333",...,89.0,44.0,Upright,92.0,119250.0,9.0,39.0,5.0,9da93e60-2304-4bc0-86e7-e76094b38c1e,'Martin Brest' 'Nominee'

#### Задание 9

Среди оставшихся фильмов найдите тот, который не выигрывал премию Оскар

In [601]:
mv1992.loc[mv1992['Award'] != 'Winner']['Film']

384    Scent of a Woman
Name: Film, dtype: object

#### Задание 10

Среди всех фильмов выведите те, которые были сняты в период между 1992 и 2000 годом

In [602]:
mv1992_2000 = df.loc[(df['Year of Release'] >= 1992) & (df['Year of Release'] <= 2000)]
mv1992_2000.shape[0]

45

#### Задание 11

В отдельную переменную сохраните часть таблицы, для которой отсутствует информация в столбце "Movie Info"

In [603]:
new_df = df.loc[df['Movie Info'].isnull()]
new_df.shape[0]

133

#### Задание 12

Заполните пропуски в столбце Movie Info фразой "No Info"

In [604]:
new_df['Movie Info'] = new_df['Movie Info'].astype('string') # меняю тип данных с 'object' на 'string' для замены значений
new_df['Movie Info'].fillna('No Info', inplace = True) # выполняю команду замены значений с флагом 'inplace' для сохранения изменений в первоначальный датафрейм
new_df['Movie Info'] # проверяю

C:\Users\Анатолий\AppData\Local\Temp\ipykernel_3960\3176392931.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Movie Info'] = new_df['Movie Info'].astype('string') # меняю тип данных с 'object' на 'string' для замены значений
C:\Users\Анатолий\AppData\Local\Temp\ipykernel_3960\3176392931.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Movie Info'].fillna('No Info', inplace = True) # выполняю команду замены значений с флагом 'inplace' для сохранения изменений в первоначальный датафрейм

1      No Info
2      No Info
4      No Info
5      No Info
7      No Info
        ...
566    No Info
567    No Info
568    No Info
569    No Info
570    No Info
Name: Movie Info, Length: 133, dtype: string

#### Задание 13

Получите новый датасет, который получается из старого путём выбрасывания всех строк, в которых значение "Movie Info" отсутствует

In [605]:
dfWithoutMvInfo = df.loc[df['Movie Info'].notnull()]
dfWithoutMvInfo.shape[0]

438

#### Задание 14

Вычислите среднее значение в столбце Audience Rating

In [606]:
dfArMean = df['Audience Rating'].mean()

#### Задание 15

Заполните пропуски в столбце Audience Rating средним значением по этому столбцу

In [607]:
df['Audience Rating'].fillna(dfArMean, inplace = True)
df['Audience Rating']

0      78.000000
1      82.428246
2      82.428246
3      21.000000
4      82.428246
         ...
566    82.428246
567    82.428246
568    82.428246
569    82.428246
570    82.428246
Name: Audience Rating, Length: 571, dtype: float64

#### Задание 16

Отсортируйте полученный датасет по значению столбца Audience Rating

In [608]:
df.sort_values(by = 'Audience Rating', ascending = False, inplace = True) # by - столбец, ascending - обратный порядок, inplace - для изменений в датафрейме
df.head(3)

,Unnamed: 0,Film,Oscar Year,Film Studio/Producer(s),Award,Year of Release,Movie Time,Movie Genre,IMDB Rating,IMDB Votes,...,Tomatometer Rating,Tomatometer Count,Audience Status,Audience Rating,Audience Count,Tomatometer Top Critics Count,Tomatometer Fresh Critics Count,Tomatometer Rotten Critics Count,Film ID,Name Award
394,394,The Shawshank Redemption,1994,Niki Marvin,Nominee,1994,142,Drama,9.3,"2,452,594",...,91.0,75.0,Upright,98.0,886485.0,19.0,68.0,7.0,995644f5-255c-4564-a647-7d0c8ccc17bb,'Niki Marvin' 'Nominee'
280,280,The Godfather,1972,Albert S. Ruddy,Winner,1972,175,"Crime,Drama",9.2,"1,697,396",...,98.0,99.0,Upright,98.0,733939.0,24.0,97.0,2.0,fa8d4d3c-41e1-488f-a30d-715a0ff09764,'Albert S. Ruddy' 'Winner'
385,385,Schindler's List,1993,"Steven Spielberg, Gerald R. Molen, and Branko ...",Winner,1993,195,"Biography,Drama,History",8.9,"1,261,563",...,97.0,100.0,Upright,97.0,411608.0,24.0,97.0,3.0,cb4bf724-69a8-4c3a-9334-de33c424441e,'Steven Spielberg Gerald R. Molen and Branko L...

#### Задание 17

Выберите фильм, которого нет в списке. Добавьте в таблицу строку, описывающую ваш фильм. Не обязательно писать точные значения параметров. Может выдумать их

In [609]:
print(df.columns)
print(df.info()) # 30 столбиков, соответственно, надо к каждой указать правильный тип данных -> долго, поэтому решено скопировать фильм (серию) и изменить немного данные

Index(['Unnamed: 0', 'Film', 'Oscar Year', 'Film Studio/Producer(s)', 'Award',
       'Year of Release', 'Movie Time', 'Movie Genre', 'IMDB Rating',
       'IMDB Votes', 'Movie Info', 'Genres', 'Critic Consensus',
       'Content Rating', 'Directors', 'Authors', 'Actors',
       'Original Release Date', 'Streaming Release Date', 'Production Company',
       'Tomatometer Status', 'Tomatometer Rating', 'Tomatometer Count',
       'Audience Status', 'Audience Rating', 'Audience Count',
       'Tomatometer Top Critics Count', 'Tomatometer Fresh Critics Count',
       'Tomatometer Rotten Critics Count', 'Film ID', 'Name Award'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 571 entries, 394 to 3
Data columns (total 31 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        571 non-null    int64
 1   Film                              571 non-null    object
 2   Oscar Year                        571 non-null    object
 3   Film Studio/Producer(s)           571 non-null    object
 4   Award                             571 non-null    object
 5   Year of Release                   571 non-null    int64
 6   Movie Time                        571 non-null    int64
 7   Movie Genre                       571 non-null    object
 8   IMDB Rating                       571 non-null    float64
 9   IMDB Votes                        571 non-null    object
 10  Movie Info                        438 non-null    object
 11  Genres                            439 non-null    object
 12  Critic Consensus                  339 non-null    object
 13  Content Rating                    439 non-null    object
 14  Directors                         437 non-null    object
 15  Authors                           437 non-null    object
 16  Actors                            439 non-null    object
 17  Original Release Date             439 non-null    object
 18  Streaming Release Date            438 non-null    object
 19  Production Company                439 non-null    object
 20  Tomatometer Status                439 non-null    object
 21  Tomatometer Rating                439 non-null    float64
 22  Tomatometer Count                 439 non-null    float64
 23  Audience Status                   436 non-null    object
 24  Audience Rating                   571 non-null    float64
 25  Audience Count                    439 non-null    float64
 26  Tomatometer Top Critics Count     439 non-null    float64
 27  Tomatometer Fresh Critics Count   439 non-null    float64
 28  Tomatometer Rotten Critics Count  439 non-null    float64
 29  Film ID                           571 non-null    object
 30  Name Award                        571 non-null    string
dtypes: float64(8), int64(3), object(19), string(1)
memory usage: 142.8+ KB
None

In [610]:
exampleFilm = df.loc[17, :]
exampleFilm.loc['Audience Rating'] = 95
exampleFilm.loc['Film'] = 'Example Film'

df = df.append(exampleFilm)
df[df['Film'] == 'Example Film']

C:\Users\Анатолий\AppData\Local\Temp\ipykernel_3960\1919278335.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exampleFilm.loc['Audience Rating'] = 95
C:\Users\Анатолий\AppData\Local\Temp\ipykernel_3960\1919278335.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exampleFilm.loc['Film'] = 'Example Film'
C:\Users\Анатолий\AppData\Local\Temp\ipykernel_3960\1919278335.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(exampleFilm)

,Unnamed: 0,Film,Oscar Year,Film Studio/Producer(s),Award,Year of Release,Movie Time,Movie Genre,IMDB Rating,IMDB Votes,...,Tomatometer Rating,Tomatometer Count,Audience Status,Audience Rating,Audience Count,Tomatometer Top Critics Count,Tomatometer Fresh Critics Count,Tomatometer Rotten Critics Count,Film ID,Name Award
17,17,Example Film,1930/31,Metro-Goldwyn-Mayer,Nominee,1931,122,"Action,Adventure,Drama",6.3,957,...,NaN,NaN,NaN,95.0,NaN,NaN,NaN,NaN,bd308f8f-cb26-43a0-8b5b-f110934927e0,'Metro-Goldwyn-Mayer' 'Nominee'

#### Задание 18

Создайте две таблицы, в первую поместите 5 фильмов с лучшим пользовательским рейтингом, а во вторую 5 с худшим. Объедините эти две таблицы в одну.

In [611]:
table1 = df.loc[:][0:5]
table2 = df.loc[::-1][0:5]
table = pd.concat([table1, table2])
table

,Unnamed: 0,Film,Oscar Year,Film Studio/Producer(s),Award,Year of Release,Movie Time,Movie Genre,IMDB Rating,IMDB Votes,...,Tomatometer Rating,Tomatometer Count,Audience Status,Audience Rating,Audience Count,Tomatometer Top Critics Count,Tomatometer Fresh Critics Count,Tomatometer Rotten Critics Count,Film ID,Name Award
394,394,The Shawshank Redemption,1994,Niki Marvin,Nominee,1994,142,Drama,9.3,"2,452,594",...,91.0,75.0,Upright,98.0,886485.0,19.0,68.0,7.0,995644f5-255c-4564-a647-7d0c8ccc17bb,'Niki Marvin' 'Nominee'
280,280,The Godfather,1972,Albert S. Ruddy,Winner,1972,175,"Crime,Drama",9.2,"1,697,396",...,98.0,99.0,Upright,98.0,733939.0,24.0,97.0,2.0,fa8d4d3c-41e1-488f-a30d-715a0ff09764,'Albert S. Ruddy' 'Winner'
385,385,Schindler's List,1993,"Steven Spielberg, Gerald R. Molen, and Branko ...",Winner,1993,195,"Biography,Drama,History",8.9,"1,261,563",...,97.0,100.0,Upright,97.0,411608.0,24.0,97.0,3.0,cb4bf724-69a8-4c3a-9334-de33c424441e,'Steven Spielberg Gerald R. Molen and Branko L...
392,392,Pulp Fiction,1994,Lawrence Bender,Nominee,1994,154,"Crime,Drama",8.9,"1,900,918",...,92.0,106.0,Upright,96.0,1127813.0,32.0,97.0,9.0,8fc72f03-3f8e-4fc6-9231-ef6474c20433,'Lawrence Bender' 'Nominee'
295,295,One Flew Over the Cuckoo's Nest,1975,Michael Douglas and Saul Zaentz,Winner,1975,133,Drama,8.7,"950,833",...,94.0,80.0,Upright,96.0,279760.0,14.0,75.0,5.0,93bd4453-5aa2-48b8-b2a6-c3f564fda13c,'Michael Douglas and Saul Zaentz' 'Winner'
17,17,Example Film,1930/31,Metro-Goldwyn-Mayer,Nominee,1931,122,"Action,Adventure,Drama",6.3,957,...,NaN,NaN,NaN,95.0,NaN,NaN,NaN,NaN,bd308f8f-cb26-43a0-8b5b-f110934927e0,'Metro-Goldwyn-Mayer' 'Nominee'
3,3,The Broadway Melody,1928/29,Metro-Goldwyn-Mayer,Winner,1929,100,"Drama,Musical,Romance",5.7,"6,890",...,33.0,24.0,Spilled,21.0,1813.0,7.0,8.0,16.0,de063f3f-2d35-4e1c-8636-6eb4c16bd236,'Metro-Goldwyn-Mayer' 'Winner'
13,13,Cimarron,1930/31,RKO Radio,Winner,1931,123,"Drama,Western",5.9,"5,851",...,50.0,24.0,Spilled,25.0,1514.0,6.0,12.0,12.0,db2683c0-128e-4b5c-858f-d9f18c2fb9b9,'RKO Radio' 'Winner'
26,26,Cavalcade,1932/33,Fox,Winner,1933,112,"Drama,Romance,War",5.9,"4,961",...,59.0,29.0,Spilled,26.0,1027.0,10.0,17.0,12.0,e71a2212-92c3-4212-9eb2-d468f10c768e,'Fox' 'Winner'
6,6,In Old Arizona,1928/29,Fox,Nominee,1928,95,Western,5.6,"1,019",...,56.0,9.0,Spilled,38.0,356.0,2.0,5.0,4.0,a0644f19-a136-44c2-ab5d-50978ef19608,'Fox' 'Nominee'

#### Задание 19

С помощью функции groupby() вычислите средние рейтинги фильмов, которые получали награду оскар и тех, которые нет

In [612]:
groupedOscar = df.groupby('Award')
groupedOscar.mean(numeric_only = True)['Audience Rating']

Award
Nominee    82.344087
Winner     82.996889
Name: Audience Rating, dtype: float64

#### Задание 20

С помощью функции groupby вычислите максимальные и минимальные рейтинги среди фильмов с оскаром и без

In [613]:
groupedOscar.max(numeric_only = True)['IMDB Rating']

Award
Nominee    9.3
Winner     9.2
Name: IMDB Rating, dtype: float64

In [614]:
groupedOscar.min(numeric_only = True)['IMDB Rating']

Award
Nominee    5.6
Winner     5.7
Name: IMDB Rating, dtype: float64

#### Задание 21

Вычислите, сколько всего фильмов выиграли Оскар и какая у них доля в датасете

In [615]:
withOscar = df.loc[df['Award'] == 'Winner'].shape[0]
withOscar / df.shape[0] * 100

16.258741258741257

#### Задание 22

Выведите корреляцию между числовыми признаками в таблице

In [616]:
df.corr(numeric_only = True)

,Unnamed: 0,Year of Release,Movie Time,IMDB Rating,Tomatometer Rating,Tomatometer Count,Audience Rating,Audience Count,Tomatometer Top Critics Count,Tomatometer Fresh Critics Count,Tomatometer Rotten Critics Count
Unnamed: 0,1.000000,0.996394,0.253456,0.350170,0.038069,0.807252,0.200780,0.086443,0.838592,0.794338,0.565235
Year of Release,0.996394,1.000000,0.241852,0.333540,0.034520,0.805810,0.194737,0.094606,0.847781,0.792311,0.567570
Movie Time,0.253456,0.241852,1.000000,0.291478,-0.188743,0.091782,0.124581,0.190135,0.114933,0.071951,0.166130
IMDB Rating,0.350170,0.333540,0.291478,1.000000,0.466360,0.268721,0.675408,0.171507,0.294503,0.279789,0.101679
Tomatometer Rating,0.038069,0.034520,-0.188743,0.466360,1.000000,0.111996,0.506349,-0.007486,0.114217,0.184758,-0.337102
Tomatometer Count,0.807252,0.805810,0.091782,0.268721,0.111996,1.000000,0.157585,0.067923,0.943635,0.990934,0.662408
Audience Rating,0.200780,0.194737,0.124581,0.675408,0.506349,0.157585,1.000000,-0.014034,0.192354,0.175147,-0.002000
Audience Count,0.086443,0.094606,0.190135,0.171507,-0.007486,0.067923,-0.014034,1.000000,0.121112,0.063454,0.065931
Tomatometer Top Critics Count,0.838592,0.847781,0.114933,0.294503,0.114217,0.943635,0.192354,0.121112,1.000000,0.937991,0.608254
Tomatometer Fresh Critics Count,0.794338,0.792311,0.071951,0.279789,0.184758,0.990934,0.175147,0.063454,0.937991,1.000000,0.555764
Tomatometer Rotten Critics Count,0.565235,0.567570,0.166130,0.101679,-0.337102,0.662408,-0.002000,0.065931,0.608254,0.555764,1.000000

#### Задание 23

Выясните, для каких фильмов в таблице есть сразу несколько строк

In [617]:
df.loc[df.duplicated()] # но скорее всего я неправильно понял задание

Empty DataFrame
Columns: [Unnamed: 0, Film, Oscar Year, Film Studio/Producer(s), Award, Year of Release, Movie Time, Movie Genre, IMDB Rating, IMDB Votes, Movie Info, Genres, Critic Consensus, Content Rating, Directors, Authors, Actors, Original Release Date, Streaming Release Date, Production Company, Tomatometer Status, Tomatometer Rating, Tomatometer Count, Audience Status, Audience Rating, Audience Count, Tomatometer Top Critics Count, Tomatometer Fresh Critics Count, Tomatometer Rotten Critics Count, Film ID, Name Award]
Index: []

[0 rows x 31 columns]

#### Задание 24

Выясните, у каких фильмов парный год номинации, например, 1927/28. Уберите вторую дату. Для примера получится 1927

In [618]:
df['Oscar Year'] = df['Oscar Year'].astype('string').str.replace('/', '') # меняю тип 'object' на 'string' и убираю '/'
df['Oscar Year'] = df['Oscar Year'].astype('int') # меняю тип 'string' на 'int'

def numChange(x):
    if x > 190000:
        return int(x / 100)
    else:
        return x

df['Oscar Year'] = df['Oscar Year'].apply(numChange)
df

,Unnamed: 0,Film,Oscar Year,Film Studio/Producer(s),Award,Year of Release,Movie Time,Movie Genre,IMDB Rating,IMDB Votes,...,Tomatometer Rating,Tomatometer Count,Audience Status,Audience Rating,Audience Count,Tomatometer Top Critics Count,Tomatometer Fresh Critics Count,Tomatometer Rotten Critics Count,Film ID,Name Award
394,394,The Shawshank Redemption,1994,Niki Marvin,Nominee,1994,142,Drama,9.3,"2,452,594",...,91.0,75.0,Upright,98.0,886485.0,19.0,68.0,7.0,995644f5-255c-4564-a647-7d0c8ccc17bb,'Niki Marvin' 'Nominee'
280,280,The Godfather,1972,Albert S. Ruddy,Winner,1972,175,"Crime,Drama",9.2,"1,697,396",...,98.0,99.0,Upright,98.0,733939.0,24.0,97.0,2.0,fa8d4d3c-41e1-488f-a30d-715a0ff09764,'Albert S. Ruddy' 'Winner'
385,385,Schindler's List,1993,"Steven Spielberg, Gerald R. Molen, and Branko ...",Winner,1993,195,"Biography,Drama,History",8.9,"1,261,563",...,97.0,100.0,Upright,97.0,411608.0,24.0,97.0,3.0,cb4bf724-69a8-4c3a-9334-de33c424441e,'Steven Spielberg Gerald R. Molen and Branko L...
392,392,Pulp Fiction,1994,Lawrence Bender,Nominee,1994,154,"Crime,Drama",8.9,"1,900,918",...,92.0,106.0,Upright,96.0,1127813.0,32.0,97.0,9.0,8fc72f03-3f8e-4fc6-9231-ef6474c20433,'Lawrence Bender' 'Nominee'
295,295,One Flew Over the Cuckoo's Nest,1975,Michael Douglas and Saul Zaentz,Winner,1975,133,Drama,8.7,"950,833",...,94.0,80.0,Upright,96.0,279760.0,14.0,75.0,5.0,93bd4453-5aa2-48b8-b2a6-c3f564fda13c,'Michael Douglas and Saul Zaentz' 'Winner'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,6,In Old Arizona,1928,Fox,Nominee,1928,95,Western,5.6,"1,019",...,56.0,9.0,Spilled,38.0,356.0,2.0,5.0,4.0,a0644f19-a136-44c2-ab5d-50978ef19608,'Fox' 'Nominee'
26,26,Cavalcade,1932,Fox,Winner,1933,112,"Drama,Romance,War",5.9,"4,961",...,59.0,29.0,Spilled,26.0,1027.0,10.0,17.0,12.0,e71a2212-92c3-4212-9eb2-d468f10c768e,'Fox' 'Winner'
13,13,Cimarron,1930,RKO Radio,Winner,1931,123,"Drama,Western",5.9,"5,851",...,50.0,24.0,Spilled,25.0,1514.0,6.0,12.0,12.0,db2683c0-128e-4b5c-858f-d9f18c2fb9b9,'RKO Radio' 'Winner'
3,3,The Broadway Melody,1928,Metro-Goldwyn-Mayer,Winner,1929,100,"Drama,Musical,Romance",5.7,"6,890",...,33.0,24.0,Spilled,21.0,1813.0,7.0,8.0,16.0,de063f3f-2d35-4e1c-8636-6eb4c16bd236,'Metro-Goldwyn-Mayer' 'Winner'
17,17,Example Film,1930,Metro-Goldwyn-Mayer,Nominee,1931,122,"Action,Adventure,Drama",6.3,957,...,NaN,NaN,NaN,95.0,NaN,NaN,NaN,NaN,bd308f8f-cb26-43a0-8b5b-f110934927e0,'Metro-Goldwyn-Mayer' 'Nominee'

#### Задание 25

В датасете есть столбец года проведения церемонии Оскар. Добавьте к году дату - 25 апреля. Итоговый столбец должен иметь календарный тип данных.

In [619]:
df['Oscar Year'] = df['Oscar Year'].astype('string') # преобразовали int в sting

df['Oscar Year'] = df['Oscar Year'].apply(lambda x: x + '0425') # добавили 04-25

df['Oscar Year'] = df['Oscar Year'].apply(lambda x: datetime.datetime.strptime(x, '%Y%m%d')) # преобразовал строку к datetime

#### Задание 26

Отсортируйте датасет по времени прохождения церемонии. С помощью оконных функций выведите средний рейтинг фильмов в каждом промежутке длиной 10 лет.

In [620]:
df.sort_values(by = 'Oscar Year', ascending = False, inplace = True)

print('1927-1937: ', df[(df['Oscar Year'] > '1927') & (df['Oscar Year'] <= '1937')]['IMDB Rating'].mean())
print('1937-1947: ',df[(df['Oscar Year'] > '1937') & (df['Oscar Year'] <= '1947')]['IMDB Rating'].mean())
print('1947-1957: ',df[(df['Oscar Year'] > '1947') & (df['Oscar Year'] <= '1957')]['IMDB Rating'].mean())
print('1957-1967: ',df[(df['Oscar Year'] > '1957') & (df['Oscar Year'] <= '1967')]['IMDB Rating'].mean())
print('1967-1977: ',df[(df['Oscar Year'] > '1967') & (df['Oscar Year'] <= '1977')]['IMDB Rating'].mean())
print('1977-1987: ',df[(df['Oscar Year'] > '1977') & (df['Oscar Year'] <= '1987')]['IMDB Rating'].mean())
print('1987-1997: ',df[(df['Oscar Year'] > '1987') & (df['Oscar Year'] <= '1997')]['IMDB Rating'].mean())
print('1997-2007: ',df[(df['Oscar Year'] > '1997') & (df['Oscar Year'] <= '2007')]['IMDB Rating'].mean())
print('2007-2017: ',df[(df['Oscar Year'] > '2007') & (df['Oscar Year'] <= '2017')]['IMDB Rating'].mean())
print('2017+    : ',df[(df['Oscar Year'] > '2017')]['IMDB Rating'].mean())

1927-1937:  6.946478873239436
1937-1947:  7.541176470588235
1947-1957:  7.496
1957-1967:  7.617999999999999
1967-1977:  7.759999999999999
1977-1987:  7.592
1987-1997:  7.712000000000001
1997-2007:  7.799999999999999
2007-2017:  7.726829268292684
2017+    :  7.714705882352941

#### Задание 27

Выведите три компании (столбец Production Company), фильмы которых завоевали самое большое количество наград

In [621]:
dfAward = df.copy()

dfAward['Award'] = dfAward['Award'].astype('string')
dfAward['Award'] = dfAward['Award'].apply(lambda x: '1' if x == 'Winner' else '0')
dfAward['Award'] = dfAward['Award'].astype('int')

groupedPC = dfAward.groupby('Production Company')
groupedPC.sum(numeric_only = True).sort_values(by = 'Award', ascending = False).head(3)

,Unnamed: 0,Award,Year of Release,Movie Time,IMDB Rating,Tomatometer Rating,Tomatometer Count,Audience Rating,Audience Count,Tomatometer Top Critics Count,Tomatometer Fresh Critics Count,Tomatometer Rotten Critics Count
Production Company,,,,,,,,,,,,
Paramount Pictures,10540,9,65300,4278,253.1,2851.0,3433.0,2752.0,73087931.0,744.0,3088.0,346.0
MGM Home Entertainment,3894,8,54512,3166,204.0,2346.0,711.0,2104.0,264255.0,130.0,601.0,111.0
Warner Bros. Pictures,9788,6,57491,3822,230.2,2617.0,5084.0,2522.0,6878652.0,936.0,4495.0,591.0